<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>광고 차단</string>
			<key>FooterText</key>
			<string>사이트 내 자체 광고를 차단합니다. 광고 차단 기능을 활성화했음에도 불구하고 광고가 출력될 경우 피드백을 남겨주시면 바로 조치하겠습니다.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>광고 차단</string>
			<key>Key</key>
			<string>adblock</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>테마</string>
			<key>FooterText</key>
			<string>앱 재시작 후 다크모드 무시하기 설정이 적용됩니다. 시스템 설정과 관계없이 라이트모드로 설정됩니다.</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>테마</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>white</string>
				<string>namu</string>
				<string>blackorange</string>
				<string>black</string>
				<string>ios</string>
			</array>
			<key>Titles</key>
			<array>
				<string>기본</string>
				<string>나무</string>
				<string>블랙&amp;오렌지</string>
				<string>블랙&amp;화이트</string>
				<string>iOS</string>
			</array>
			<key>Key</key>
			<string>theme</string>
			<key>DefaultValue</key>
			<string>white</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>다크모드 무시하기</string>
			<key>Key</key>
			<string>ignoreDarkmode</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>일반</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>방문 기록 남기기</string>
			<key>Key</key>
			<string>enabled_history</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>화면 확대 비활성화</string>
			<key>Key</key>
			<string>disable_zoom</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>보기</string>
		</dict>
		<dict>
			<key>Titles</key>
			<array>
				<string>매우 작게</string>
				<string>조금 작게</string>
				<string>보통 (기본)</string>
				<string>조금 크게</string>
				<string>크게</string>
				<string>매우 크게</string>
				<string>매우 매우 크게</string>
				<string>엄청 크게</string>
			</array>
			<key>Values</key>
			<array>
				<string>0.75</string>
				<string>0.8</string>
				<string>0.9</string>
				<string>0.95</string>
				<string>1.0</string>
				<string>1.1</string>
				<string>1.3</string>
				<string>1.5</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>글자 크기</string>
			<key>Key</key>
			<string>fontsize</string>
			<key>DefaultValue</key>
			<string>0.9</string>
		</dict>
		<dict>
			<key>Titles</key>
			<array>
				<string>매우 작게</string>
				<string>조금 작게</string>
				<string>보통 (기본)</string>
				<string>조금 크게</string>
				<string>크게</string>
				<string>매우 크게</string>
			</array>
			<key>Values</key>
			<array>
				<string>1.3</string>
				<string>1.4</string>
				<string>1.5</string>
				<string>1.6</string>
				<string>1.7</string>
				<string>1.8</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>줄 간격</string>
			<key>Key</key>
			<string>lineheight</string>
			<key>DefaultValue</key>
			<string>1.5</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>iCloud</string>
			<key>FooterText</key>
			<string>사용하기 전에 꼭 즐겨찾기를 백업하세요. 이 기능을 사용할 경우 저장된 로컬 즐겨찾기가 사라집니다.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>즐겨찾기 iCloud 연동</string>
			<key>Key</key>
			<string>use_icloud</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
